h1{
	color:WHITE;
	font-weight: bold;
	text-shadow: 3px 3px 0px #800101;
}
body { 
	background: url('background.jpg') no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
button {
	margin: auto;
}

.container{
	width:30%;
	height:60%;
	text-align:center;
	border-style:solid;
	background-color:white;
}